header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.button1 {
  position: absolute;
  left: 162%;
  margin-top: -18px;
  margin-right: 1rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #43e661;
  border-radius: 4px;
  color: white;
  background: none;
  box-shadow: -8px -8px 32px rgba(0, 0, 0, 0.457),
    8px 8px 32px rgba(0, 0, 0, 0.457);
  cursor: pointer;
  transition: all 300ms;
  font-weight: 700;
  width: 110px;
}

.button1:focus {
  outline: none;
}

.button1:hover,
.button1:active {
  background: #43e661;
  border-color: #43e661;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.button2 {
  position: absolute;
  left: 180%;
  width: 110px;
  margin-top: -17.8px;
  margin-right: 1rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #43e661;
  border-radius: 4px;
  color: white;
  background: none;
  box-shadow: -8px -8px 32px rgba(0, 0, 0, 0.457),
    8px 8px 32px rgba(0, 0, 0, 0.457);
  cursor: pointer;
  transition: all 300ms;
  font-weight: 700;
  text-align: center;
}

.button2:focus {
  outline: none;
}

.button2:hover,
.button2:active {
  background: #43e661;
  border-color: #43e661;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
