.container {
  width: 50%;
  margin-right: 50%;
  margin-left: 5%;
  margin-top: 12%;
}

.container .numHeader {
  width: fit-content;
  font-family: "Caveat";
  color: rgb(176, 176, 176);
  position: absolute;
  top: 215px;
  left: 30px;
  font-size: 32px;
}

.container h1 {
  margin-left: 24px;
  width: 175%;
  color: #43e661;
  margin-top: 10rem;
  font-size: 48px;
}

.container p {
  margin-left: 2rem;
  width: 175%;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 2rem;
  margin-top: 6px;
}

.button {
  position: absolute;
  margin-left: 4.5rem;
  margin-right: 1rem;
  font: inherit;
  padding: 1rem 2.5rem;
  border: 1px solid #43e661;
  border-radius: 4px;
  color: white;
  background: none;
  box-shadow: -8px -8px 32px rgba(0, 0, 0, 0.21),
    8px 8px 32px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  margin-top: 24px;
  transition: all 300ms;
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #43e661;
  border-color: #43e661;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
}

.left {
  position: fixed;
  grid-column: 1 / 3;
  grid-row: 1;
  top: 0;
  left: 0;
  width: 50%;
  background-image: url(/src/imgs/running.webp);
  background-image: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.75),
      rgba(154, 152, 152, 0.588)
    ),
    url(/src/imgs/running.webp);
  height: 100vh;
  background-size: cover;
}

.right {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url(/src/imgs/workout.webp);
  background-position: 100%;
  height: 100vh;
  background-size: cover;
}

.next {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url(/src/imgs/ladder.webp);
  background-position: 100%;
  height: 100vh;
  background-size: cover;
}

.another {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url(/src/imgs/proteinShake.webp);
  background-position: 50%;
  height: 100vh;
  background-size: cover;
}

.again {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-image: url(/src/imgs/girlRopes.webp);
  background-position: 50%;
  height: 100vh;
  background-size: cover;
}
