@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverFill {
  background: linear-gradient(to left, white 50%, #3cd157 50%) right;
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.hoverFillSignUp {
  background: linear-gradient(to left, black 50%, #3cd157 50%) right;
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.workoutImg {
  background: linear-gradient(
      185deg,
      rgba(102, 102, 102, 0.75),
      rgba(29, 182, 44, 0.228)
    ),
    url(/src/imgs/dumbells.webp);
  background-size: cover;
  height: 280px;
  background-position: 0 69%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.76);
}

.veggiesImg {
  background: linear-gradient(
      370deg,
      rgba(56, 55, 55, 0.75),
      rgba(44, 130, 59, 0.628)
    ),
    url(/src/imgs/veggies.webp);
  background-size: cover;
  height: 280px;
  background-position: 0 69%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.76);
}

.gradient {
  background: linear-gradient(
    185deg,
    rgba(14, 118, 25, 0.628),
    rgba(14, 118, 25, 0.828)
  );
}

.gradientBlue {
  background: linear-gradient(
    185deg,
    rgba(23, 121, 132, 0.628),
    rgba(14, 114, 134, 0.828)
  );
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
